%h2 Edit Rating
= @rate.rater.username
Rated
= link_to @rate.book.title, @rate.book
= form_for @rate, url: rating_path do |f|
  = f.select :stars, options_for_select([1,2,3,4,5], @rate.stars.to_i)
  \/ 5
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), ratings_path, :class => 'btn'