%h2
  - if @user.present?
    = "#{@user.username.humanize} ratings"
  - else
    Latest Ratings
%hr
.ratings
  %table.table.table-striped
    -@ratings.each do |rating|
      %tr
        %td
          = link_to rating.rater.username, [rating.rater, :ratings]
          rated
          = link_to rating.book.title, rating.book
          .star{data:{readOnly: "true", rating: rating.stars, classname: "Book", dimension: "Rating"}, "data-star-count" => 5}
          %td
            .pull-right= "#{time_ago_in_words(rating.created_at)} ago"
          - if current_user.admin?
            %td
              .pull-right= link_to "Edit", edit_rating_path(rating)