- @book.errors.full_messages.each do |msg|
  .alert
    = msg
= form_for @book, :html => { :class => 'form-horizontal' } do |f|
  .control-group{class: ('error' if f.object.errors[:title].any?)}
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group{class: ('error' if f.object.errors[:isbn].any?)}
    = f.label :isbn, :class => 'control-label'
    .controls
      = f.text_field :isbn, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), books_path, :class => 'btn'
